.container-fluid {
    margin:0px;
    padding:0px;
}

.row {
    margin:0px;
    padding:0px;  
}

.row-header {
    margin:0px;
    padding:0px;
}

.row-content {
    margin:0px;
    padding: 0px;
    border-bottom: 0px;
    min-height:400px;
    text-align: center;
}

.footer{
    background-color: white;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:40px 0px 0px 0px;
    margin:0px;
    background: white ;
    color:white;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.header {
    margin:0px;
    padding:0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:70px 0px 0px 0px;
    z-index:0;
}

.navbar-light {
    position: center;
    background-color: white;
    min-height: 113px;
    top: 10px;
    font-size: 18px;
    width: auto;
    border: none;
    padding: 0px 20px;
}
.navbar-brand {
    padding: 10 15px;
    height: 113px;
}

@media (min-width: 768px) {
    .navbar-nav {
      float: center;
      vertical-align: top;
    }
    .navbar-nav > li {
      float: center;
      padding: 0px 12px
    }
    .navbar-nav > li a {
      line-height: 113px;
      float: center;
      padding: 0px;
    }
  }
  @media (min-width: 922px) {
    .navbar-nav > li {
      float: center;
      padding: 0px 30px
    }
    .navbar-nav > li a {
      line-height: 113px;
      float: center;
      padding: 0px;
    }
  }
  @media (min-width: 1220px) {
    .navbar-nav > li {
      float: center;
      padding: 0px 45px
    }
    .navbar-nav > li a {
      line-height: 113px;
      float: center;
      padding: 0px;
    }
  }
  .navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}