.row-header{
    margin:0px;
    padding:0px;
}

.row-content {
    margin:0px;
    padding: 0px;
    border-bottom: 0px;
    min-height:400px;
    text-align: center;
}

.footer{
    background-color: white;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: darkred ;
    color:white;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-light {
    background-color: white;
    min-height: 113px;
    top: 10px;
    font-size: 18px;
    width: auto;
    border: none;
    padding: 0px 0px;
}
.navbar-brand {
    padding: 0 15px;
    height: 113px;
}

@media (min-width: 768px) {
    .navbar-nav {
      position: relative;
    }
    .navbar-nav > li {
      position: center;
    }
    .navbar-nav > li a {
      line-height: 113px;
      vertical-align: middle;
      padding: 0 12px;
    }
  }
  @media (min-width: 992px) {
    .navbar-nav > li a {
      padding: 0 48px;
    }
  }
  @media (min-width: 1200px) {
    .navbar-nav > li a {
      padding: 70px;
    }
