.row-header{
    margin:0px;
    padding:0px;
}

.row-content {
    margin:0px;
    padding: 0px;
    border-bottom: 0px;
    min-height:400px;
    text-align: center;
}

.footer{
    background-color: white;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: darkred ;
    color:white;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-light {
     background-color: white;
}